
.row
  .col-md-12
    .box.box-primary
      .box-header.with-border
        %h3.box-title Provide program details
      %form{:lpformnum => "1", :role => "form"}
      = simple_form_for @program do |f|
        - if @program.errors.any?
          #error_explanation
            %h2= "#{pluralize(@program.errors.count, "error")} prohibited this program from being saved:"
            %ul
              - @program.errors.full_messages.each do |message|
                %li= message
        %form{:_lpchecked => "1", :lpformnum => "1", :role => "form"}
          .box-body
            .row
              .col-md-6
                .form-group
                  %label{:for => "exampleInputEmail1"} Program Name
                  / = f.label :name
                  = f.text_field :name, class: "form-control", placeholder: "Enter name"
              .col-md-6
                .form-group
                  %label{:for => "exampleInputEmail1"} Description
                  = f.text_area :description, class: "form-control my-colorpicker1 colorpicker-element"
            .row
              .col-md-6
                .form-group
                  %label{:for => "exampleInputPassword1"} Select program color
                  -# = f.text_field :color, class: "form-control", placeholder: "pending, confirmed, cancelled"
                  -# %input.form-control.my-colorpicker1.colorpicker-element{:type => "text"}/
                  = f.text_field :color,  class: "form-control", placeholder: "Click here to see color pop up"
                .input-group-addon
                %i{:style => "background-color: rgb(6, 89, 29);"}
              .col-md-6
                .form-group
                  %label{:for => "exampleInputEmail1"} Is it parallel?
                  %p
                  -# = f.label :name
                  -# = f.text_field :parallel, class: "form-control", placeholder: "Enter name"
                  = f.select :parallel, options_for_select([['True', true], ['False', false]])
            .row
              .col-md-6
                .form-group
                  %label{:for => "exampleInputEmail1"} Max mumber of participants
                  / = f.label :name
                  = f.text_field :participants, class: "form-control", placeholder: "Enter a Number"
              .col-md-6
                .form-group
                  %label{:for => "exampleInputEmail1"} Program Code (For SMS booking)
                  / = f.label :name
                  = f.text_field :code, class: "form-control", placeholder: "Must be nuique ...B#"
          
            = f.button :submit, class: "btn btn-primary"