%p#notice= notice
.row
  .col-md-4
    .box.box-default
      .box-header.with-border
        %h3.box-title #{@booking.client.first_name.camelcase} #{@booking.client.last_name.camelcase}
        .box-tools.pull-right
          // %button.btn.btn-box-tool{"data-widget" => "collapse", :type => "button"}
          //   %i.fa.fa-minus
        / /.box-tools
      / /.box-header
      .box-body
        = @booking.time.strftime(" Meeting  on %m/%d/%Y  at %I:%M%p")
        %ul.nav.nav-stacked
          %li
            %a{:href => "#"}
              Total Bookings
              %span.pull-right.badge.bg-blue 31
          %li
            %a{:href => "#"}
              Cancelled Bookings
              %span.pull-right.badge.bg-aqua 5
          %li
            %a{:href => "#"}
              Completed Projects
              %span.pull-right.badge.bg-green 12
          %li
            %a{:href => "#"}
              Confirmation status
              %span.pull-right.badge.bg-red #{@booking.confirm_status}
      / /.box-body




// %p
//   %b Time:
//   = @booking.time
// %p
//   %b Date:
//   = @booking.date
// %p
//   %b Description:
//   = @booking.description
// %p
//   %b Status:
//   = @booking.status
// %p
//   %b Confirm status:
//   = @booking.confirm_status

// = link_to 'Edit', edit_booking_path(@booking)
// \|
= link_to 'Back', bookings_path
