.row
  .col-md-12
    .box.box-primary
      .box-header.with-border
        %h3.box-title Provide client details
      %form{:lpformnum => "1", :role => "form"}
      = simple_form_for @client, html: { multipart: true } do |f|
        - if @client.errors.any?
          #error_explanation
            %h2= "#{pluralize(@client.errors.count, "error")} prohibited this client from being saved:"
            %ul
              - @client.errors.full_messages.each do |message|
                %li= message
        %form{:_lpchecked => "1", :lpformnum => "1", :role => "form"}
          .box-body
            .row
              .col-md-3
                .form-group
                  %label{:for => "exampleInputEmail1"} First Name
                  / = f.label :name
                  = f.text_field :first_name, class: "form-control", placeholder: "Enter First name"
              .col-md-3
                .form-group
                  %label{:for => "exampleInputPassword1"} Last Name
                  = f.text_field :last_name, class: "form-control", placeholder: "Enter Last name"
              .col-md-3
                .form-group
                  %label{:for => "exampleInputPassword1"} Where Do they Live?
                  = f.text_field :location, class: "form-control", placeholder: "Enter Location"
              .col-md-3
                .form-group
                  %label{:for => "exampleInputPassword1"} Gender
                  %p
                  = f.select :gender_id, Gender.all.map { |c| [c.gender, c.id] }, include_blank: false
                  -# = f.text_field :gender, class: "form-control", placeholder: "Enter client Gender"
            .row
              .col-md-3
                .form-group
                  %label{:for => "exampleInputPassword1"} Phone Number
                  = f.text_field :phone_number, class: "form-control", placeholder: "Phone Number"

              .col-md-3
                .form-group
                  %label{:for => "exampleInputPassword1"} ID Number
                  = f.text_field :id_number, class: "form-control", placeholder: "ID Number"

              .col-md-3
                .form-group
                  %label{:for => "exampleInputPassword1"} Alt Contact
                  = f.text_field :id_number, class: "form-control", placeholder: "Alt Contact Number"
              
              .col-md-3
                .form-group
                  %label{:for => "exampleInputPassword1"} Relationship
                  = f.text_field :relationship, class: "form-control", placeholder: "Alt Contact Number"
            .row
              .col-md-3
                .form-group
                  %label{:for => "exampleInputPassword1"} Marital Status
                  %p
                  -# = f.input :center, class: "form-control", :label => "" do
                  = f.select :marital_id, Marital.all.map { |c| [c.status, c.id] }, include_blank: false
              .col-md-3
                .form-group
                  %label{:for => "exampleInputPassword1"} Occupation
                  = f.text_field :occupation, class: "form-control", placeholder: "Enter Occupation"
              .col-md-3
                .form-group
                  %label{:for => "exampleInputPassword1"} Employer
                  = f.text_field :employer, class: "form-control", placeholder: "Enter Employer"
                
              
            .row
              .col-md-3
                .form-group
                  %label{:for => "exampleInputPassword1"} Select Center
                  %p
                  -# = f.input :center, class: "form-control", :label => "" do
                  = f.select :center_id, Center.all.map { |c| [c.name, c.id] }, include_blank: false
                  %span.help-block

              .col-md-6
                .form-group
                  %label{:for => "exampleInputPassword1"} Date Of Birth
                  %p
                  -# = f.input :center, class: "form-control", :label => "" do
                  = f.input :dob,  as: :date, as: :date, start_year: Date.new(1940).year, end_year: Date.today.year-5 ,class: "form-control" ,placeholder: "Enter Employer"
                
                  %span.help-block

          / /.box-body
          .box-footer
            = f.submit class: "btn btn-primary"
