%p#notice= notice

.col-md-3.col-sm-6.col-xs-12
  .info-box
    %span.info-box-icon.bg-green
      %i.ion.ion-person-add
    .info-box-content
      %span.info-box-text #{@client.first_name}  #{@client.last_name}
      %span.info-box-number #{@client.phone_number}
      %span.info-box-text #{@client.gender}
    / /.info-box-content
  / /.info-box

.col-md-3.col-sm-6.col-xs-12
  .info-box.bg-yellow
    %span.info-box-icon
      %i.fa.fa-calendar
    .info-box-content
      %span.info-box-text Bookings
      %span.info-box-number 20
      .progress
        .progress-bar{:style => "width: 70%"}
      %span.progress-description
        70% Increase in 30 Days
    / /.info-box-content
  / /.info-box

.col-md-3.col-sm-6.col-xs-12
  .info-box.bg-green
    %span.info-box-icon
      %i.fa.fa-thumbs-o-up
    .info-box-content
      %span.info-box-text Meetings
      %span.info-box-number 30
      .progress
        .progress-bar{:style => "width: 70%"}
      %span.progress-description
        70% Increase in 30 Days
    / /.info-box-content
  / /.info-box

.row
  .col-md-9
    .box.box-primary
      .box-body.no-padding
        #user_calendar
  .col-md-3
    .box.box-solid
      .box-header.with-border
        %h4.box-title Draggable Events
      .box-body
        / the events
        #my-draggable


= link_to 'Edit', edit_client_path(@client),class: "btn btn-default"
\|
= link_to 'Back', clients_path, class: "btn btn-default"

