%p#notice= notice

.col-md-3.col-sm-6.col-xs-12
  .info-box
    %span.info-box-icon.bg-green
      %i.ion.ion-person-add
    .info-box-content
      %span.info-box-text #{@client.first_name}  #{@client.last_name}
      %span.info-box-number #{@client.phone_number}
      %span.info-box-text   #{@client.gender.nil? ?  'Unspecified' : @client.gender.gender }
    / /.info-box-content
  / /.info-box

.col-md-3.col-sm-6.col-xs-12
  .info-box.bg-yellow
    %span.info-box-icon
      %i.fa.fa-calendar
    .info-box-content
      %span.info-box-text Bookings
      %span.info-box-number 20
      .progress
        .progress-bar{:style => "width: 70%"}
      %span.progress-description
        70% Increase in 30 Days
    / /.info-box-content
  / /.info-box

.col-md-3.col-sm-6.col-xs-12
  .info-box.bg-green
    %span.info-box-icon
      %i.fa.fa-thumbs-o-up
    .info-box-content
      %span.info-box-text Meetings
      %span.info-box-number 30
      .progress
        .progress-bar{:style => "width: 70%"}
      %span.progress-description
        70% Increase in 30 Days
    / /.info-box-content
  / /.info-box

.row
  .col-md-9
    .box.box-primary
      .box-body.no-padding
        #user_calendar
  .col-md-3
    .box.box-solid
      .box-header.with-border
        %h4.box-title Draggable Events
      .box-body
        / the events
        #my-draggable

.row
  .col-xs-12
    .box
      .box-header
        %h3.box-title Full Client Details
      / /.box-header
      .box-body
        #example1_wrapper.dataTables_wrapper.form-inline.dt-bootstrap
          .row
            %br
          .row
            .col-sm-12
              %table#example1.table.table-bordered.table-striped.dataTable{"aria-describedby" => "example1_info", :role => "grid"}
                %thead
                  %tr{:role => "row"}
                    %th.sorting_asc{"aria-controls" => "example1", "aria-label" => "Rendering engine: activate to sort column descending", "aria-sort" => "ascending", :colspan => "1", :rowspan => "1",  :tabindex => "0"} Full Names
                    %th.sorting{"aria-controls" => "example1", "aria-label" => "Platform(s): activate to sort column ascending", :colspan => "1", :rowspan => "1",  :tabindex => "0"} Phone Number
                    %th.sorting{"aria-controls" => "example1", "aria-label" => "Engine version: activate to sort column ascending", :colspan => "1", :rowspan => "1",  :tabindex => "0"} Gender
                    %th.sorting{"aria-controls" => "example1", "aria-label" => "CSS grade: activate to sort column ascending", :colspan => "1", :rowspan => "1",:tabindex => "0"} DOB
                    %th.sorting{"aria-controls" => "example1", "aria-label" => "Engine version: activate to sort column ascending", :colspan => "1", :rowspan => "1",  :tabindex => "0"} Center
                    %th.sorting{"aria-controls" => "example1", "aria-label" => "CSS grade: activate to sort column ascending", :colspan => "1", :rowspan => "1", :tabindex => "0"} Mariatl
                    %th.sorting{"aria-controls" => "example1", "aria-label" => "CSS grade: activate to sort column ascending", :colspan => "1", :rowspan => "1",:tabindex => "0"} Occupation
                    %th.sorting{"aria-controls" => "example1", "aria-label" => "CSS grade: activate to sort column ascending", :colspan => "1", :rowspan => "1",:tabindex => "0"} Employer
                    %th.sorting{"aria-controls" => "example1", "aria-label" => "CSS grade: activate to sort column ascending", :colspan => "1", :rowspan => "1",:tabindex => "0"} ID No.
                    %th.sorting{"aria-controls" => "example1", "aria-label" => "CSS grade: activate to sort column ascending", :colspan => "1", :rowspan => "1",:tabindex => "0"} Alt contact
                    %th.sorting{"aria-controls" => "example1", "aria-label" => "CSS grade: activate to sort column ascending", :colspan => "1", :rowspan => "1",:tabindex => "0"} Realtionship
                %tbody

                  %tr{:class => "#{cycle('even', 'odd')}"}
                    
                    %td= @client.full_names              
                    %td= @client.phone_number
                    %td
                      -if @client.gender.nil?
                        = "unspecified"
                      - else
                        =@client.gender.gender.camelcase
                    %td= @client.dob
                    %td= @client.center.nil? ? 'Unspecified' : @client.center.name
                    %td= @client.marital.nil? ? 'Unspecified' : @client.marital.status
                    %td= @client.occupation
                    %td= @client.employer
                    %td= @client.id_number
                    %td= @client.alt_contact
                    %td= @client.relationship
      / /.box-body
    / /.box
  / /.col

= link_to 'Edit', edit_client_path(@client),class: "btn btn-default"
\|
= link_to 'Back', clients_path, class: "btn btn-default"

